body {
    font-family: Arial, sans-serif;
}
.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../imag/andrew-kliatskyi-2bfHAKhGn4g-unsplash.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 250px 20px;
    height: 100vh;
    color: white;
}
.features {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../imag/download.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    height: 70vh;
    color: white;
}

.features .icon {
    font-size: 40px;
    color: #007bff;
}
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}
nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    transition: 0.2s ease;
    padding: 10px 15px;
    background-color: black;
    border-radius: 15px;
    color: white;
}
